.container {
  display: flex;
  width: 390px;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.textTypography {
  color: var(--Primary-text, #444);
  text-align: center;
  font-family: "Open Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}
.formContainer {
  flex: 1;
  overflow-y: auto;
}

.textfieldContenair {
  background-color: white;

  padding: 30px 30px 20px 30px;
  height: auto;
}
.infofield {
  height: 575px;
  margin-bottom: 20px;
}

.saveContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 5px;
  margin-top: 20px;
  align-self: stretch;
  background-color: #f8f4f4;
}

.saveButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}
.saveText {
  color: var(--Colours-White, #fff);
  text-align: right;
  font-family: "Open Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}
